<div class="about" id="about">
  <h1 class="about-title">About Me</h1>
  <div class="about-content">
    <img src="pranay.jpg" alt="Pranay Parmar" class="about-image" />
    <p>
      Hi, I'm Pranay Parmar, a software engineer passionate about creating
      innovative and user-focused solutions. I recently graduated from Penn
      State Abington with a degree in Information Technology, specializing in
      Application Development. I focus on full-stack development, with front-end
      expertise in HTML, CSS, and JavaScript—utilizing frameworks like Angular
      and TypeScript—and back-end proficiency in Java, Python, and SQL.
    </p>
    <p>
      Throughout my journey, I have worked on impactful projects, including
      developing an AI-powered language translation tool with full-stack
      functionality, integrating technologies like the ChatGPT Whisper Model,
      Google Text-to-Speech APIs, and Node.js Express. I have also optimized
      CI/CD pipelines using tools like GitHub Actions and Harness, enhancing
      workflow efficiency. Additionally, during a company-wide hackathon at
      Nationwide, I contributed to building a recognition platform for
      associates, demonstrating my ability to combine technical expertise with
      creative problem-solving.
    </p>
    <p>
      Beyond my technical skills, I thrive in collaborative environments and am
      driven by the opportunity to tackle complex challenges, improve
      efficiency, and deliver meaningful user experiences. With a strong
      foundation in both development and design, I aim to create intuitive,
      scalable, and innovative applications that truly make a difference.
    </p>
  </div>

  <div class="resume-links">
    <a href="Resume.pdf" target="_blank" class="resume-link">Resume</a>
  </div>
</div>
