.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 10;
    box-sizing: border-box;
}

.title, .links h2 {
    font-size: 1.5rem;
    margin: 0;
}

.links {
    display: flex;
    gap: 20px;
}

.links h2 {
    cursor: pointer;
    text-transform: uppercase;
}

div.topBotomBordersIn a {
    position: relative;
    display: inline-block;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color from the parent */
}

div.topBotomBordersIn a:before,
div.topBotomBordersIn a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF; /* Border color */
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before {
    top: 0;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after {
    bottom: 0;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before,
div.topBotomBordersIn a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

.toggle-container {
    display: flex;
    align-items: center;
  }
  
  .theme-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .theme-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .theme-toggle input:checked + .slider {
    background-color: #4caf50;
  }
  
  .theme-toggle .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .theme-toggle input:checked + .slider:before {
    transform: translateX(20px);
  }
  
