<div class="experience" id="experience">
  <h1 class="experience-title">Experience</h1>

  <!-- Work Experience Section -->
  <div class="section">
    <h2>Work Experience</h2>
    <div class="timeline-wrapper">
      <!-- <div class="timeline">
        <div
          *ngFor="let event of events; let i = index"
          class="timeline-event"
          (mouseover)="hoveredPoint = i"
          (mouseleave)="hoveredPoint = null"
          (click)="openModalFunction(myModalContent, i)"
        >
          <div class="timeline-dot"></div>
          <div
            class="timeline-content"
            [class.left]="i % 2 === 0"
            [class.right]="i % 2 !== 0"
          >
            <div class="timeline-title" *ngIf="hoveredPoint === i">
              {{ event.title }}
            </div>
            <div class="timeline-date">{{ event.date }}</div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- Skills Section -->
  <div class="section">
    <h2>Skills</h2>
    <!-- Content for skills -->
    <div class="language-icons">
      <div class="skill-icon">
        <img class="skill-img" src="html.png" />
      </div>
      <div class="skill-icon">
        <img class="skill-img" src="js.png" />
      </div>
      <div class="skill-icon">
        <img class="skill-img" src="angular.png" />
      </div>
      <div class="skill-icon">
        <img class="skill-img" src="css.png" />
      </div>
      <div class="skill-icon">
        <img class="skill-img" src="Typescript.png" />
      </div>
    </div>
    <div class="language-icons">
      <div class="skill-icon">
        <img class="skill-img" src="java.png" />
      </div>
      <div class="skill-icon">
        <img class="skill-img" src="python.png" />
      </div>
      <div class="skill-icon">
        <img class="skill-img" src="sql.png" />
      </div>
    </div>
  </div>
  <!-- Projects Section -->
  <div class="section">
    <h2>Projects</h2>
    <!-- Content for projects -->
    <div class="gallery">
      <a target="_blank" href="img_5terre.jpg">
        <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400" />
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="img_forest.jpg" alt="Forest" width="600" height="400" />
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img
          src="img_lights.jpg"
          alt="Northern Lights"
          width="600"
          height="400"
        />
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="img_mountains.jpg" alt="Mountains" width="600" height="400" />
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>
</div>

<!-- Modal (shows up when a point is clicked, NOT on hover) -->
<!-- <ng-template #myModalContent let-modal>
  <div class="modal-header">
    <h3 *ngIf="activePoint !== null">
      {{ activePoint !== null ? events[activePoint].title : "" }}
    </h3>
  </div>

  <div class="modal-body">
    <p *ngIf="activePoint !== null">
      {{ activePoint !== null ? events[activePoint].details : "" }}
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Close
    </button>
  </div>
</ng-template> -->
