<div class="experience" id="experience">
  <h1 class="experience-title">Experience</h1>

  <!-- Work Experience Section -->
  <div class="section">
    <h2>Work Experience</h2>
    <div class="timeline-wrapper">
      <div
        *ngFor="let item of timelineData; let i = index"
        class="timeline-item"
        [ngClass]="i % 2 === 0 ? 'left' : 'right'"
        (click)="openModal(item)"
      >
        <span class="dot"></span>
        <div class="content">
          <p class="date">{{ item.date }}</p>
        </div>
      </div>
    </div>

    <div class="modal" *ngIf="selectedItem" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <h3>{{ selectedItem.company }}</h3>
        <p>{{ selectedItem.role }}</p>
        <p>{{ selectedItem.date }}</p>
      </div>
    </div>

    <!-- Skills Section -->
    <div class="section">
      <h2>Skills</h2>
      <!-- Content for skills -->
      <div class="language-icons">
        <div class="skill-icon">
          <img class="skill-img" src="html.png" />
        </div>
        <div class="skill-icon">
          <img class="skill-img" src="js.png" />
        </div>
        <div class="skill-icon">
          <img class="skill-img" src="angular.png" />
        </div>
        <div class="skill-icon">
          <img class="skill-img" src="css.png" />
        </div>
        <div class="skill-icon">
          <img class="skill-img" src="Typescript.png" />
        </div>
      </div>
      <div class="language-icons">
        <div class="skill-icon">
          <img class="skill-img" src="java.png" />
        </div>
        <div class="skill-icon">
          <img class="skill-img" src="python.png" />
        </div>
        <div class="skill-icon">
          <img class="skill-img" src="sql.png" />
        </div>
      </div>
    </div>
    <!-- Projects Section -->
    <div class="section">
      <h2>Projects</h2>
      <!-- Content for projects -->
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://github.com/PranayParmar14/Linktree">
            <img src="linktree.png" alt="Link Tree clone" />
          </a>
          <div class="desc">
            Created a personalized Linktree-style webpage to centralize and
            showcase my professional links using HTML, CSS, and JavaScript
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a
            target="_blank"
            href="https://github.com/PranayParmar14/Car-Dealership-"
          >
            <img src="cardeal.png" alt="Car dealer ship code" />
          </a>
          <div class="desc">
            Designed and implemented a Python-based inventory management system
            for a car dealership using OOP principles.
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a
            target="_blank"
            href="https://github.com/PranayParmar14/Grade-Analysis"
          >
            <img src="grades.png" alt="Grade Analysis" />
          </a>
          <div class="desc">
            Developed a Java-based program to accept user-inputted test scores
            and compute statistical results.
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a
            target="_blank"
            href="https://github.com/PranayParmar14/Validate-Sudoku"
          >
            <img src="sudoku.png" alt="Sudoku" />
          </a>
          <div class="desc">
            Developed a Java-based Sudoku validator to verify the correctness of
            a given Sudoku board.
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
