<div class="contact" id="contact">
  <h1 class="contact-title">Contact</h1>

  <div class="contact-wrapper">
    <div class="contact-links">
      <a
        href="https://www.linkedin.com/in/pranay-parmar-623952226"
        target="_blank"
        class="contact-link"
        >LinkedIn</a
      >
      <a href="mailto:parmarpranay30@gmail.com" class="contact-link">Email</a>
      <a
        href="https://github.com/PranayParmar14"
        target="_blank"
        class="contact-link"
        >GitHub</a
      >
    </div>

    <div class="divider"></div>

    <div class="contact-form">
      <h2>Send me a message</h2>
      <form
        id="contactForm"
        action="https://formspree.io/f/mvgkbola"
        method="POST"
      >
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <textarea name="message" placeholder="Your Message" required></textarea>
        <div class="button-wrapper">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
