<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-navbar></app-navbar>
<div class="content">
  <app-landing-page></app-landing-page>
  <app-about></app-about>
  <app-projects></app-projects>
  <app-contact></app-contact>
</div>
<div class="footer">
  <p>&copy; 2025 Pranay Parmar. All rights reserved.</p>
</div>
<div class="theme-toggle-container">
    <label class="theme-toggle">
      <input type="checkbox" (change)="toggleTheme()" [checked]="isDarkMode"/>
      <span class="slider"></span>
    </label>
