.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  text-align: center;
  transform: translateY(-5%);
}

.name {
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
}

.tagline {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
}

.scrollDown {
  width: 45px;
  height: 70px;
  border: 2px solid var(--scroll-border-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  animation: fadeIn 1.5s ease-in-out;

  span {
    position: relative;
    width: 8px;
    height: 15px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-right: 2px solid var(--scroll-arrow-color);
      border-bottom: 2px solid var(--scroll-arrow-color);
      transform: rotate(45deg);
      animation: arrowAnim 1.5s infinite ease-in-out;
    }

    &::before {
      top: 5px;
    }

    &::after {
      top: 20px;
      animation-delay: 0.3s;
    }
  }
}

@keyframes arrowAnim {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: translateY(5px) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(10px) rotate(45deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .landing-page {
    transform: translateY(-3%);
  }

  .name {
    font-size: 6rem;
  }

  .tagline {
    font-size: 1.2rem;
  }
}

/* Theme Variables */
body.dark-theme {
  --scroll-border-color: #fff;
  --scroll-arrow-color: #fff;
}
