body {
  font-family: 'Inter', sans-serif;
}
:root {
  --link-hover-color: #fff; /* Default hover color */
}

body.dark-theme {
  --link-hover-color: #fff; /* Hover color for dark theme */
}

body.light-theme {
  --link-hover-color: #000; /* Hover color for light theme */
}

body.dark-theme {
  background-color: #000;
  color: #fff;
}

body.light-theme {
  background-color: #fff;
  color: #000;
}

/* Optional: Adjust link styles for both themes */
a {
  text-decoration: none;
}

body.dark-theme a {
  color: #fff;
}

body.light-theme a {
  color: #000;
}

/* You can add global styles to this file, and also import other style files */
