/* Define color variables */
:root {
  --text-color: #000;
  --bg-color: #fff;
  //--icon-bg-color: #ff0000; /* Default icon color */
  --link-hover-color: #000; /* Default for light mode */
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #000;
    --link-hover-color: #fff; /* White in dark mode */
  }
}

/* Apply variables to the page */
html {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* Ensure body classes also work */
body.dark-theme {
  --text-color: #fff;
  --bg-color: #000;
  --link-hover-color: #fff;
}

body.light-theme {
  --text-color: #000;
  --bg-color: #fff;
  --link-hover-color: #000;
}

/* Apply styles to links */
a {
  text-decoration: none;
}

body.dark-theme a {
  color: var(--text-color);
}

body.light-theme a {
  color: var(--text-color);
}

/* Apply icon background color */
.language-icons div {
  border-radius: 50%;
  background-color: var(--text-color) !important;
  width: 100px;
  height: 100px;
}

/* Import Bootstrap */
@import "bootstrap/scss/bootstrap";
